.body {
    background-color: black;
    color: darkorange;
}

.inputButton {
    height: 5vh;
    width: 10vw;
    min-width: 200px;
    border: 2px solid white;
    border-radius: 1.2vh;
    color: red;
    font-weight: bold;
    background-color: skyblue;
    margin: 1vh;
    padding: 1px;
    cursor: pointer;
}

.inputButton:hover {
    opacity: 40%;
    color: black;
    background-color: aliceblue;
}

.transactional {
    background-color: yellowgreen;
    /*background-color: darkturquoise;*/
}

.transactional:hover {
    opacity: 40%;
    background-color: darkturquoise;
}

.action {
    height: 3vh;
    width: 5vw;
    min-width: 160px;
    border: 2px solid white;
    border-radius: 0.6vh;
    color: black;
    font-weight: bold;
    background-color: coral;
    margin: 1vh;
    padding: 1px;
    cursor: pointer;
}

.action:hover {
    opacity: 40%;
}

td {
    text-align: center;
}

tr, td {
    color: darkgreen;
}

tr:hover {
    background-color: antiquewhite;
    opacity: 50%;
}

.inline {
    display: inline-block;
}

.inputFormRow:hover {
    opacity: 100%;
    color: darkgreen;
}

.emptySpace:hover, .form:hover {
    background-color: black;
}